.index-banner {
  min-height: 802px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  &::before {
  	content: '';
  	background-color: rgba(0, 0, 0, 0.44);
  	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  }
  &__description {
  	color: #ffffff;
  	font-family: "Muller";
  	font-size: 60px;
  	font-weight: bold;
  	line-height: 72px;
  	text-transform: uppercase;
  	padding-left: 140px;
  	padding-right: 900px;
  	padding-bottom: 75px;
  	display: flex;
  }
  &__text {
  	display: inline-flex;
  }
}
@media screen and (max-width: 1468px) {
  .index-banner {
    min-height: 750px;
    &__description {
      font-size: 55px;
      padding: 0 370px 0px 95px;
    }
  }
}
@media screen and (max-width:1366px) {
  .index-banner {
    min-height: 550px;
    &__description {
      font-size: 50px;
      padding-left: 10%;
      padding-right: 15%;
      padding-bottom: 0;
    }
  }
}
@media screen and (max-width: 974px) {
  .index-banner {
    min-height: 450px;
    margin-top: 17%;
    &__description {
      font-size: 35px;
    }
  }
}
@media screen and (max-width: 768px) {
  .index-banner {
    min-height: 300px;
    margin-top: 21%;
    &__description {
      font-size: 30px;
      padding: 0 10%;
    }
  }
}
@media screen and (max-width: 635px) {
  .index-banner {
    min-height: 230px;
    &__description {
      font-size: 23px;
      line-height: 45px;
    }
  }
}
@media screen and (max-width: 479px) {
  &.index-banner {
    min-height: 150px;
    margin-top: 48%;
    &__description {
      font-size: 20px;
      line-height: 35px;
    }
  }
}
