.footer {
	display: flex;
	flex-direction: column;
  &::before {
  	content: '';
  	background-color:#e8e8e8;
  	position: absolute;
  	height: 40%;
  	width: 100%;
  	bottom: 0;
  	left: 0;
  }
  &__container{
  	max-width: 1920px;
  	padding: 0px 100px 22px 134px;
  	margin: 0;
  }
  &__top {
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	border-top: 1px solid #d1d1d1;
  	margin-top: 27px;
  	padding-top: 36px;
  }
  &__logo {
  	font-size: 36px;
  	font-weight: 700;
  	line-height: 22px;
  	flex-grow: 1;
  }
  &__navigation {
  	display: flex;
  	flex-grow: 4.45;
  	justify-content: space-between;
  	align-items: center;
  	padding-left: 37px;
  }
  &__list {
  	display: flex;
  	flex-grow: 4.45;
  	justify-content: space-between;
  	align-items: center;
  	width: 100%;
  }
  &__item {
  	text-align: center;
  	min-width: 217px;
    &:first-child{
    	text-align: center;
    	padding-right: 30px;
    }
    &:last-child{
    	text-align: center;
    	padding-left: 15px;
    }
    &:nth-child(2) {
    	text-align: left;
    	padding-left: 0;
    }
    &:nth-child(4) {
    	text-align: right;
    	padding-right: 0;
    }
  }
  &__contacts {
  	display: flex;
  	flex-grow: 1.2;
  	align-items: center;
  	justify-content: flex-end;
  }
  &__button {
  	position: absolute;
  	right: -98px;
  	top: 21px;
  }
  &__bottom {
  	display: flex;
  	justify-content: space-between;
  	margin-top: 31px;
  }
  &__copy {
  	font-size: 12px;
  	font-weight: 400;
  	line-height: 18px;
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	min-width: 283px;
    & a {
    	color: black;
    	text-decoration: none;
    }
  }
}
.copy__link:hover {
	color: #bf0000;
}
.swiper-wrapper {
	align-items: stretch;
}
@media screen and (max-width: 1468px) {
	.footer {
		&__container {
      padding: 0 0 0 0;
    }
		&__top {
      flex-wrap: wrap;
    }
		&__container {
      right: 0;
    }
		&__logo {
      font-size: 34px;
    }
		&__button {
      right: 0;
      top: 0;
    }
		&__item {
      min-width: 0;
    }
		&__bottom {
      padding: 0 10px 10px 10px;
    }
	}
}
@media screen and (max-width:1366px) {
	.footer {
		&__logo {
	    display: none;
	  }
		&__navigation {
	    display: none;
	  }
		&__contacts {
	    justify-content: center;
	  }
		&__button {
	    position: fixed;
	    top: 85%;
	    right: 0;
	    z-index: 3;
	  }
	}
}
@media screen and (max-width: 974px) {
	.footer {
		&__top {
      justify-content: center;
			padding-top: 10px;
    }
		&__navigation {
      display: none;
    }
		&__contacts {
      text-align: center;
    }
		&__logo {
      position: relative;
      top: 0;
    }
		&__button {
      display: none;
    }
		&__copy {
      min-width: 0;
			& span {
	      padding-right: 5px;
	    }
			& a {
	      padding-right: 5px;
	    }
    }
	}
}
@media screen and (max-width: 635px) {
	.footer {
		&__bottom {
      flex-direction: column;
    }
		&__copy {
      justify-content: center;
    }
	}
}
@media screen and (max-width: 479px) {
	.footer {
		&__contacts {
      font-size: 12px;
    }
		&__bottom {
      margin-top: 15px;
    }
		&__copy_uppercase {
      display: flex;
      flex-direction: column;
    }
		&::before {
      height: 55%;
    }
	}
}
