@font-face {
  font-family: 'Geometria';
  src: url("../../fonts/geometria/Geometria-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../../fonts/geometria/Geometria-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../../fonts/geometria/Geometria.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../../fonts/geometria/Geometria-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../../fonts/geometria/Geometria-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url("../../fonts/muller/MullerBold.woff") format("woff");
  src: url("../../fonts/muller/MullerBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

img {
  max-height: 100%;
  max-width: 100%;
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

.body {
  min-width: 320px;
  font-size: 18px;
  line-height: 1;
  font-family: 'Geometria', 'Muller', 'Arial', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1678px;
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}

.visually-hidden {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  padding: 0;
  margin: 0;
}

.separator {
  color: #bf0000;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  display: block;
  margin: 0px 15px;
}

@media screen and (max-width: 1468px) {
  body {
    margin: 0;
  }
  .body {
    font-size: 17px;
  }
  .container {
    padding: 0 23px;
  }
}

@media screen and (max-width: 1366px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 974px) {
  body {
    font-size: 15px;
  }
  .separator {
    font-size: 12px;
    font-weight: 800;
    margin: 0 0 0 0;
    padding-right: 5px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 635px) {
  body {
    font-size: 13px;
  }
}

@media screen and (max-width: 479px) {
  body {
    font-size: 12px;
  }
}

.recall__button {
  display: inline-flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: underline;
  color: #a3a3a3;
  flex-grow: 0.74;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
}

.recall__button::before {
  content: '';
  position: relative;
  width: 12px;
  height: 12px;
  background: url(../../img/phone.png);
  top: 0px;
  left: -12px;
  transition: 0.6s;
}

.recall__button:hover {
  color: #bf0000;
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 1366px) {
  .recall__button {
    flex-grow: 0;
    padding: 0 0 0 0;
  }
}

@media screen and (max-width: 974px) {
  .recall__button {
    font-size: 12px;
    flex-grow: 0;
    min-width: 122px;
    padding: 0 0 0 0;
  }
  .recall__button::before {
    left: -5px;
  }
}

.header__search {
  display: flex;
  flex-grow: 0.81;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
}

.search__button {
  display: inline-flex;
}

.search__button::before {
  content: '';
  position: relative;
  width: 23px;
  height: 23px;
  background: url(../../img/search_.png);
  top: 0;
  left: -10px;
  transition: 0.6s;
}

.search__input {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #8d8d8d;
  border: none;
  border-bottom: 1px solid #d1d1d1;
}

@media screen and (max-width: 1366px) {
  .header__search {
    flex-grow: 0;
    padding: 0 0 0 0;
  }
}

@media screen and (max-width: 974px) {
  .header__search {
    flex-grow: 0;
    position: absolute;
    top: 55%;
    left: 35%;
  }
  .search__input {
    font-size: 13px;
  }
  .search__button::before {
    left: 0;
  }
}

@media screen and (max-width: 479px) {
  .header__search {
    top: 40%;
    left: 28%;
  }
}

.header__authorization {
  display: flex;
  flex-grow: 0.84;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
}

.header__authorization a {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #8d8d8d;
  text-decoration: none;
  display: flex;
}

.header__authorization a:hover {
  text-decoration: underline;
}

.authorization__enter {
  display: inline-flex;
  align-items: center;
}

.enter__text {
  display: inline-flex;
}

.authorization__icon {
  display: inline-flex;
  align-items: center;
  padding-left: 15px;
}

@media screen and (max-width: 1366px) {
  .header__authorization {
    flex-grow: 0;
    padding: 0 0 0 0;
  }
}

@media screen and (max-width: 974px) {
  .header__authorization {
    flex-grow: 0;
    flex-wrap: wrap;
  }
  .authorization__enter {
    font-size: 12px;
  }
  .authorization__icon {
    display: none;
  }
  .registration__link {
    font-size: 12px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 635px) {
  .header__authorization a {
    font-size: 13px;
  }
}

@media screen and (max-width: 479px) {
  .header__authorization {
    width: 100px;
  }
  .header__authorization a {
    font-size: 12px;
  }
  .authorization_separator {
    display: none;
  }
  .registration__link {
    padding-right: 28%;
  }
  .authorization__enter {
    padding-right: 75%;
  }
}

.basket {
  flex-grow: 0.2;
}

.basket__count {
  width: 21px;
  height: 21px;
  font-size: 12px;
  border-radius: 50%;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -7px;
  right: -5px;
}

.basket__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1366px) {
  .basket {
    flex-grow: 0;
  }
}

@media screen and (max-width: 974px) {
  .basket {
    flex-grow: 0;
    position: absolute;
    top: 55%;
    right: 2%;
  }
}

@media screen and (max-width: 635px) {
  .basket {
    top: 25%;
    right: 2%;
  }
}

@media screen and (max-width: 479px) {
  .basket {
    top: 18%;
  }
}

.navigation__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navigation__item {
  width: calc(100% / 5);
  text-align: center;
}

.navigation__item:first-child {
  text-align: left;
}

.navigation__item:last-child {
  text-align: right;
}

.navigation__item:nth-child(2) {
  text-align: left;
  padding-left: 30px;
}

.navigation__item:nth-child(4) {
  text-align: right;
  padding-right: 15px;
}

.navigation__link {
  color: #13151b;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  display: block;
  transition: 0.6s;
}

.navigation__link:hover {
  color: #bf0000;
}

.navigation__dropper::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent black black;
  transform: rotate(-45deg);
  left: 52%;
  top: 15%;
}

.navigation__dropper:hover .navigation__sub-list {
  opacity: 1;
}

.navigation__border-link {
  align-items: center;
  justify-content: center;
}

.navigation__border-link::before {
  content: '';
  display: block;
  height: 1px;
  width: 35%;
  background-color: #bf0000;
  left: 32%;
  top: 0;
  margin-bottom: 10px;
}

.navigation__border-link::after {
  content: '';
  display: block;
  height: 1px;
  width: 35%;
  background-color: #bf0000;
  left: 32%;
  bottom: 0;
  margin-top: 10px;
}

.navigation__sub-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  min-height: 42px;
  width: 47%;
  position: absolute;
  top: 30px;
  right: 53%;
  z-index: 2;
  opacity: 0;
}

.item__arrow::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent black black;
  transform: rotate(45deg);
  left: 23%;
  top: 42.5%;
}

.item__arrow::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent black black;
  transform: rotate(-135deg);
  right: 23%;
  top: 40%;
}

.sub-list__item {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #d1d1d1;
  height: 60px;
}

.sub-list__item::before {
  content: '';
  background-color: #bf0000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.sub-list__item:first-child {
  border-top: 1px solid #d1d1d1;
}

.sub-list__link {
  color: #13151b;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  display: block;
  transition: 0.6s;
  opacity: 1;
}

.sub-list__link:hover {
  color: #ffffff;
}

@media screen and (max-width: 1468px) {
  .navigation__dropper::after {
    left: 62%;
  }
  .navigation__sub-list {
    right: 45%;
  }
  .navigation__link {
    font-size: 17px;
  }
}

@media screen and (max-width: 1366px) {
  .navigation__link {
    font-size: 16px;
  }
  .navigation__dropper::after {
    left: 80%;
  }
  .item__arrow::before {
    left: 15%;
  }
  .item__arrow::after {
    right: 15%;
  }
}

@media screen and (max-width: 974px) {
  .navigation__list {
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    height: 100%;
    justify-content: space-between;
  }
  .navigation__sub-list {
    right: 73%;
    top: 0;
    width: 40%;
  }
  .navigation__item {
    width: 100%;
    margin: 20px 0;
  }
  .navigation__item:first-child {
    text-align: center;
  }
  .navigation__item:last-child {
    text-align: center;
  }
  .navigation__item:nth-child(2n) {
    text-align: center;
    padding: 0 0 0 0;
  }
  .navigation__link {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .navigation__link {
    font-size: 14px;
  }
  .navigation__sub-list {
    right: 78%;
  }
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1;
  padding: 30px 0;
}

.header__logo {
  width: 223px;
  height: 33px;
  font-size: 36px;
  font-weight: 700;
  line-height: 22px;
  color: #4c4c4c;
  flex-grow: 1;
  padding-left: 20px;
}

.header__burger {
  display: none;
}

.header__navigation {
  padding: 18px 0;
}

.contacts {
  display: flex;
  flex-grow: 1.28;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
}

.contacts a {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #8d8d8d;
  text-decoration: none;
  display: block;
}

.contacts a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1468px) {
  .header__logo {
    font-size: 34px;
    padding-left: 0;
  }
}

@media screen and (max-width: 1366px) {
  .header__logo {
    font-size: 32px;
    flex-grow: 0;
  }
  .header__search {
    flex-grow: 0;
    padding: 0 0 0 0;
  }
  .header__contacts {
    display: none;
  }
}

@media screen and (max-width: 974px) {
  .header {
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    z-index: 4;
  }
  .header__burger {
    display: block;
    position: absolute;
    width: 40px;
    height: 20px;
    border: none;
    top: -58px;
    right: 20%;
    cursor: pointer;
    z-index: 4;
  }
  .header__burger::before {
    content: '';
    width: 40px;
    height: 2px;
    background: black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
  }
  .header__burger::after {
    content: '';
    width: 40px;
    height: 2px;
    background: black;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
  }
  .header__burger.js-isActive::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .header__burger.js-isActive::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .header__top {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 0;
  }
  .header__logo {
    font-size: 28px;
    flex-grow: 0;
  }
  .header__navigation {
    width: 400px;
    height: 92%;
    max-height: 100vh;
    background: white;
    position: fixed;
    top: 8%;
    right: -400px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    transition: 0.5s;
    padding: 50px 25px;
  }
  .header__navigation.js-isActive {
    right: 0;
    z-index: 2;
  }
  .contacts {
    flex-grow: 0;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .header__navigation {
    width: 320px;
  }
}

@media screen and (max-width: 635px) {
  .header__burger {
    right: 5%;
  }
  .contacts a {
    font-size: 13px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer::before {
  content: '';
  background-color: #e8e8e8;
  position: absolute;
  height: 40%;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer__container {
  max-width: 1920px;
  padding: 0px 100px 22px 134px;
  margin: 0;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d1d1d1;
  margin-top: 27px;
  padding-top: 36px;
}

.footer__logo {
  font-size: 36px;
  font-weight: 700;
  line-height: 22px;
  flex-grow: 1;
}

.footer__navigation {
  display: flex;
  flex-grow: 4.45;
  justify-content: space-between;
  align-items: center;
  padding-left: 37px;
}

.footer__list {
  display: flex;
  flex-grow: 4.45;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer__item {
  text-align: center;
  min-width: 217px;
}

.footer__item:first-child {
  text-align: center;
  padding-right: 30px;
}

.footer__item:last-child {
  text-align: center;
  padding-left: 15px;
}

.footer__item:nth-child(2) {
  text-align: left;
  padding-left: 0;
}

.footer__item:nth-child(4) {
  text-align: right;
  padding-right: 0;
}

.footer__contacts {
  display: flex;
  flex-grow: 1.2;
  align-items: center;
  justify-content: flex-end;
}

.footer__button {
  position: absolute;
  right: -98px;
  top: 21px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
}

.footer__copy {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 283px;
}

.footer__copy a {
  color: black;
  text-decoration: none;
}

.copy__link:hover {
  color: #bf0000;
}

.swiper-wrapper {
  align-items: stretch;
}

@media screen and (max-width: 1468px) {
  .footer__container {
    padding: 0 0 0 0;
  }
  .footer__top {
    flex-wrap: wrap;
  }
  .footer__container {
    right: 0;
  }
  .footer__logo {
    font-size: 34px;
  }
  .footer__button {
    right: 0;
    top: 0;
  }
  .footer__item {
    min-width: 0;
  }
  .footer__bottom {
    padding: 0 10px 10px 10px;
  }
}

@media screen and (max-width: 1366px) {
  .footer__logo {
    display: none;
  }
  .footer__navigation {
    display: none;
  }
  .footer__contacts {
    justify-content: center;
  }
  .footer__button {
    position: fixed;
    top: 85%;
    right: 0;
    z-index: 3;
  }
}

@media screen and (max-width: 974px) {
  .footer__top {
    justify-content: center;
    padding-top: 10px;
  }
  .footer__navigation {
    display: none;
  }
  .footer__contacts {
    text-align: center;
  }
  .footer__logo {
    position: relative;
    top: 0;
  }
  .footer__button {
    display: none;
  }
  .footer__copy {
    min-width: 0;
  }
  .footer__copy span {
    padding-right: 5px;
  }
  .footer__copy a {
    padding-right: 5px;
  }
}

@media screen and (max-width: 635px) {
  .footer__bottom {
    flex-direction: column;
  }
  .footer__copy {
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .footer__contacts {
    font-size: 12px;
  }
  .footer__bottom {
    margin-top: 15px;
  }
  .footer__copy_uppercase {
    display: flex;
    flex-direction: column;
  }
  .footer::before {
    height: 55%;
  }
}

.index-banner {
  min-height: 802px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.index-banner::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.44);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.index-banner__description {
  color: #ffffff;
  font-family: "Muller";
  font-size: 60px;
  font-weight: bold;
  line-height: 72px;
  text-transform: uppercase;
  padding-left: 140px;
  padding-right: 900px;
  padding-bottom: 75px;
  display: flex;
}

.index-banner__text {
  display: inline-flex;
}

@media screen and (max-width: 1468px) {
  .index-banner {
    min-height: 750px;
  }
  .index-banner__description {
    font-size: 55px;
    padding: 0 370px 0px 95px;
  }
}

@media screen and (max-width: 1366px) {
  .index-banner {
    min-height: 550px;
  }
  .index-banner__description {
    font-size: 50px;
    padding-left: 10%;
    padding-right: 15%;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 974px) {
  .index-banner {
    min-height: 450px;
    margin-top: 17%;
  }
  .index-banner__description {
    font-size: 35px;
  }
}

@media screen and (max-width: 768px) {
  .index-banner {
    min-height: 300px;
    margin-top: 21%;
  }
  .index-banner__description {
    font-size: 30px;
    padding: 0 10%;
  }
}

@media screen and (max-width: 635px) {
  .index-banner {
    min-height: 230px;
  }
  .index-banner__description {
    font-size: 23px;
    line-height: 45px;
  }
}

@media screen and (max-width: 479px) {
  .index-banner {
    min-height: 150px;
    margin-top: 48%;
  }
  .index-banner__description {
    font-size: 20px;
    line-height: 35px;
  }
}

.services {
  display: flex;
  flex-direction: column;
}

.services__title {
  font-family: "Muller";
  font-size: 24px;
  font-weight: bold;
  line-height: 72px;
  text-transform: uppercase;
  color: #bf0000;
  padding: 15px 10px 30px 25px;
}

.services__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.services__item {
  width: calc(100%/3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  min-height: 317px;
  text-decoration: none;
}

.services__item:nth-child(2n+1) {
  background-color: #e8e8e8;
}

.services__image {
  flex-grow: 2;
  display: flex;
  align-items: center;
  padding: 25px 0px 0px 25px;
}

.services__name {
  font-family: "Muller";
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  color: #000000;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
}

.comment {
  color: #000000;
  font-family: "Muller";
  font-weight: 400;
  display: flex;
  margin-top: 48px;
}

@media screen and (max-width: 1468px) {
  .services__title {
    font-size: 22px;
    padding: 15px 10px 15px 25px;
  }
  .services__item {
    min-height: 300px;
  }
  .services__image {
    padding: 0 0 0 0;
  }
  .services__name {
    font-size: 22px;
    padding: 0 0 0 0;
    text-align: center;
  }
}

@media screen and (max-width: 974px) {
  .services__item {
    width: calc(100%/2);
    min-height: 140px;
  }
  .services__item:nth-child(3) {
    background-color: white;
  }
  .services__item:nth-child(4) {
    background-color: #e8e8e8;
  }
  .services__image img {
    max-height: 60px;
  }
  .services__title {
    font-size: 17px;
  }
  .services__name {
    margin: 0 0 0 0;
    font-size: 18px;
  }
  .comment {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .services__title {
    font-size: 15px;
    padding: 0 0 0 0;
  }
  .services__name {
    font-size: 16px;
  }
  .services__image img {
    max-height: 50px;
  }
  .comment {
    font-size: 13px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 635px) {
  .services__title {
    font-size: 13px;
    text-align: center;
  }
  .services__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .services__item {
    width: 70%;
  }
  .services__item:nth-child(2n+1) {
    background-color: #e8e8e8;
  }
  .services__item:nth-child(4) {
    background-color: white;
  }
  .services__image img {
    max-height: 45px;
  }
  .services__name {
    font-size: 14px;
  }
  .comment {
    font-size: 12px;
    margin-top: 25px;
  }
}

@media screen and (max-width: 479px) {
  .services__title {
    font-size: 14px;
  }
  .services__item {
    width: 90%;
  }
  .services__name {
    font-size: 12px;
  }
  .services__image img {
    max-height: 40px;
  }
  .comment {
    margin-top: 15px;
  }
}

.item-slider {
  display: flex;
}

.item-slider__title {
  font-family: "Muller";
  font-size: 24px;
  font-weight: bold;
  line-height: 72px;
  text-transform: uppercase;
  color: #bf0000;
  display: flex;
  padding: 30px 0px 39px 21px;
}

.item-slider__wrap {
  display: flex;
  justify-content: space-between;
}

.item-slider__item {
  height: auto !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 46px 26px 46px 26px;
  border: 3px solid #8d8d8d;
  margin-right: 24px;
}

.item-slider__item:last-child {
  margin-right: 0px;
}

.item__name {
  font-family: "Muller";
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
}

.item__impage {
  margin-right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 25px;
}

.item__link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  align-self: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #bf0000;
  height: 58px;
  width: 255px;
  padding-right: 60px;
}

.item__link::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 2px;
  background: #ffffff;
  top: 50%;
  left: 190px;
  transform: translate(-50%, -50%);
}

.item__link::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent #ffffff #ffffff;
  top: 44%;
  left: 195px;
  transform: rotate(-135deg);
}

@media screen and (max-width: 1468px) {
  .item-slider__title {
    font-size: 22px;
    padding: 30px 0 30px 0 21px;
  }
  .item__name {
    font-size: 22px;
  }
  .item__description {
    font-size: 15px;
    padding-bottom: 20px;
  }
  .item__link {
    font-size: 15px;
  }
}

@media screen and (max-width: 974px) {
  .item-slider__item {
    padding: 20px 20px 20px 20px;
  }
  .item-slider__title {
    font-size: 17px;
    padding: 0 0 0 39px;
  }
  .item__name {
    font-size: 18px;
    text-align: center;
  }
  .item__impage {
    height: 90px;
  }
  .item__description {
    font-size: 14px;
    padding-bottom: 5px;
  }
  .item__link {
    font-size: 14px;
    padding-right: 35px;
    height: 35px;
    width: 125px;
  }
  .item__link::before {
    left: 105px;
    top: 52%;
  }
  .item__link::after {
    left: 110px;
  }
}

@media screen and (max-width: 768px) {
  .item-slider__title {
    font-size: 15px;
    padding: 0 0 0 0px;
  }
  .item__name {
    font-size: 17px;
  }
  .item__impage {
    height: 85px;
  }
  .item__description {
    font-size: 13px;
  }
  .item__link {
    font-size: 13px;
    padding-right: 20px;
    height: 30px;
    width: 120px;
  }
  .item__link::before {
    left: 100px;
    top: 50%;
    width: 20px;
  }
  .item__link::after {
    left: 105px;
    top: 40%;
  }
}

@media screen and (max-width: 635px) {
  .item-slider__title {
    font-size: 13px;
    justify-content: center;
  }
  .item__name {
    font-size: 15px;
  }
  .item__impage {
    height: 80px;
  }
  .item__description {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .item-slider__item {
    padding: 10px 10px 10px 10px;
  }
  .item-slider__title {
    font-size: 12px;
  }
  .item__name {
    font-size: 14px;
  }
  .item__impage {
    height: 70px;
  }
  .item__description {
    font-size: 12px;
  }
  .item__link {
    font-size: 12px;
  }
}
