@mixin fonts($font-family, $font-name, $font-weight, $font-style) {
     
        @font-face {
            font-family: $font-family;
            src: url("../fonts/#{$font-name}-#{$font-weight}.woff") format("woff");
            font-weight: $font-weight;
            font-style: $font-style;
        }
    } 
    @mixin adaptive($media-width) {
        @media screen and (max-width: #{$media-width}px) {
            @content;
        }
    }    
     
      
