@media screen and (max-width: 1468px) {
    /* Мониторы*/
    .navigation__dropper::after {
      left: 62%;
    }
    .navigation__sub-list {
      right: 45%;
    }
    .footer__container {
      padding: 0 0 0 0;
    }
    .footer__top {
      flex-wrap: wrap;
    }
    .footer__container {
      right: 0;
    }
    .footer__button {
      right: 0;
      top: 0;
    }
    .footer__item {
      min-width: 0;
    }
}
@media screen and (max-width:1366px) {
    body {
        font-size: 16px;
    }
    .header__top {
      padding: 40px 0 30px 0;
    }
    .header__logo{
        width: 200px;
        height: 23px;
        font-size: 28px;
        position: absolute;
        top: 0;
        padding-left: 0;
    }
    .header__authorization {
      padding: 0 0 0 0;
    }
    .header__search {
      padding: 0 0 0 0;
    }
    .separator {
      margin: 0px 5px;
    }
    .authorization__icon {
      padding-left: 5px;
    }
    .authorization__icon {
      left: 0;
    }
    .authorization__icon {
      left: -5px;
    }
    .navigation__link,
    .sublist__link {
        font-size: 16px;
    }
    .navigation__dropper::after {
      left: 75%;
    }
    .item__arrow::before {
      left: 20%;
    }
    .item__arrow::after {
      right: 20%;
    }
    .index-banner {
      min-height: 606px;
    }
    .index-banner__description {
      font-size: 50px;
      padding-left: 10%;
      padding-right: 15%;
      padding-bottom: 0;
    }
    .services__title {
      font-size: 20px;
      padding: 0 10px 0 25px;
    }
    .services__item {
      min-height: 220px;
    }
    .services__image {
      padding: 0 0 0 0;
    }
    .services__name {
      font-size: 17px;
      text-align: center;
    }
    .services__name {
      margin-top: 30px;
    }
    .item-slider__title {
      font-size: 20px;
      padding-bottom: 30px;
    }
    .item-slider__item {
      padding: 15px 15px 25px 15px;
    }
    .item__description {
      padding-bottom: 5px;
    }
    .item__link {
      height: 45px;
      width: 185px;
    }
    .item__link::before {
      left: 140px;
    }
    .item__link::after {
      left: 145px;
    }
    .footer__top {
      padding-top: 50px;
    }
    .footer__bottom {
      margin-top: 20px;
    }
    .footer::before {
      height: 35%;
    }
    .footer__contacts {
      flex-wrap: wrap;
    }
    .footer__logo {
    width: 200px;
    height: 23px;
    font-size: 28px;
    position: absolute;
    top: 10px;
    padding-left: 2%;
    flex-grow: 0;
    }
    .footer__navigation {
      padding-left: 0;
    }
    .footer__item:first-child {
      padding-right: 0;
    }
}

@media screen and (max-width: 974px) {
    .header__burger {
        display:block;
        width: 40px;
        height: 40px;
        background: #bf0000;
        z-index: 4;
        position: fixed;
        top: 0;
        right: 10%;
        cursor: pointer;
        border-radius: 20px;
    }
    .header__burger::before {
      content: '';
      width: 30px;
      height: 3px;
      background: black;
      position: absolute;
      transform: translateX(-50%);
      transition: 0.5s;
      top: 35%;
    }
    .header__burger::after {
      content: '';
      width: 30px;
      height: 3px;
      background: black;
      position: absolute;
      transform: translateX(-50%);
      transition: 0.5s;
      bottom: 35%;
    }
    .header__navigation {
        width: 400px;
        height: 100%;
        max-height: 100vh;
        background: white;
        position: fixed;
        top: 0;
        right: -400px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        transition: 0.5s;
        padding: 50px 25px;
    }
    .header__navigation.js-isActive {
        right: 0;
        z-index: 2;
    }
    .navigation__list {
        flex-direction: column;
        align-items: center;
        padding-left: 10%;
        height: 100%;
        justify-content: space-between;
    }
    .navigation__sub-list {
        right: 73%;
        top: 0;
        width: 40%;
    }
    .navigation__item {
        width: 100%;
        margin: 20px 0;
    }
    .navigation__item:first-child {
        text-align: center;
    }
    .navigation__item:last-child {
        text-align: center;
    }
    .navigation__item:nth-child(2n) {
        text-align: center;
        padding: 0 0 0 0;
    }
    .header__logo {
      flex-grow: 0;
    }
    .header__authorization {
      flex-grow: 0;
      flex-wrap: wrap;
    }
    .registration__link {
      font-size: 12px;
      padding-right: 5px;
    }
    .authorization__enter {
      font-size: 12px;
    }
    .authorization__icon {
      display: none;
    }
    .header__search {
      flex-grow: 0;
    }
    .search__button::before {
      left: 0;
    }
    .contacts {
      flex-grow: 0;
      flex-wrap: wrap;
    }
    .separator {
      font-size: 12px;
      font-weight: 800;
      margin: 0 0 0 0;
      padding-right: 5px;
    }
    .contacts a {
      font-size: 12px;
      padding-right: 5px;
    }
    .recall__button {
      font-size: 12px;
      flex-grow: 0;
      min-width: 122px;
      padding: 0 0 0 0;
    }
    .recall__button::before {
      left: -5px;
    }
    .header__basket {
      flex-grow: 0;
      position: absolute;
      top: 0;
      right: 0;
    }
    .index-banner {
      min-height: 450px;
    }
    .index-banner__description {
      font-size: 35px;
    }
    .services__title {
      font-size: 17px;
    }
    .services__item {
      min-height: 140px
    }
    .services__name {
      margin: 0 0 0 0;
      font-size: 15px;
    }
    .comment {
      font-size: 15px;
    }
    .item-slider__title {
      font-size: 20px;
      padding: 0 0 0 39px;
    }
    .services__name {
      font-size: 18px;
    }
    .item__name {
      font-size: 20px;
      text-align: center;
    }
    .item__description {
      display: none;
    }
    .item__link {
      height: 35px;
      width: 125px;
    }
    .item__link {
      padding-right: 35px;
    }
    .item__link::before {
      left: 105px;
      top: 52%
    }
    .item__link::after {
      left: 110px;
    }
    .footer__navigation {
      display: none;
    }
    .footer__contacts {
      text-align: center;
    }
    .footer__logo {
      position: relative;
      top: 0;
    }
    .footer__button {
      position: relative;
    }
    .footer__top {
      padding-top: 10px;
    }
}
@media screen and (max-width: 768px) {
    /* Альбомная - телефоны / планшеты */
    .header__contacts {
      display: none;
    }
    .header__basket {
      position: relative;
    }
    .header__burger {
      right: 0;
    }
    .index-banner {
      min-height: 350px;
    }
    .index-banner__description {
      font-size: 28px;
    }
    .services__title {
      font-size: 15px;
      text-align: center;
    }
    .services__wrapper {
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
    }
    .services__item {
      min-height: 180px;
      width: 55%;
    }
    .items-slider {
      display: none;
    }
    .comment {
      margin-top: 0;
      border-top: 1px solid #d1d1d1;
      padding-top: 35px;
    }
}
@media screen and (max-width: 635px) {
    /* Альбомная - телефоны */
    .header__top {
      padding: 35px 0 15px 0;
    }
    .header__logo {
      left: 35%;
    }
    .authorization_separator {
      display: none;
    }
    .header__basket {
      position: fixed;
      top: 10px;
      left: 10px;
      height: 23px;
      width: 27px;
    }
    .index-banner {
      min-height: 265px;
    }
    .index-banner__description {
      font-size: 22px;
    }
    .services__title {
      font-size: 12px;
    }
    .services__item {
      min-height: 163px;
      min-width: 71%;
    }
    .services__name {
      font-size: 15px;
    }
    .comment {
      font-size: 12px;
    }
    .footer__button {
      display: none;
    }
    .footer__copy {
      min-width: 0;
      width: 200px;
      align-items: flex-end;
    }
    .footer__icon {
      height: 32px;
      width: 32px;
    }
}
@media screen and (max-width: 479px) {
    /* Для телефонов */
    .header__logo {
      font-size: 20px;
      left: 7%;
    }
    .recall__button {
      position: absolute;
      top: 0;
      right: 7%;
    }
    .footer__logo {
      display: none;
    }
    .footer__top {
      justify-content: center;
    }
}
/* @media screen and (min-device-aspect-ratio: 16/9) {

} */
