.basket{
	flex-grow: 0.2;
  &__count {
  	width: 21px;
  	height: 21px;
  	font-size: 12px;
  	border-radius: 50%;
  	background: red;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	position: absolute;
  	top: -7px;
  	right: -5px;
  }
  &__link {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  }
}
@media screen and (max-width:1366px) {
	.basket {
    flex-grow: 0;
  }
}
@media screen and (max-width: 974px) {
	.basket {
		flex-grow: 0;
		position: absolute;
		top: 55%;
		right: 2%;
	}
}
@media screen and (max-width: 635px) {
	.basket {
		top: 25%;
		right: 2%;
	}
}
@media screen and (max-width: 479px) {
	.basket {
		top: 18%;
	}
}
